<% if(typeof errors != 'undefined'){ %> <% errors.forEach(function(error) { %>
   
      <%= error.msg %>
    
    <% }); %> <% } %> 
    
    <% if(success_msg != ''){ %>

      <p style="color:green"> <%= success_msg %></p>
   
     
    
    <% } %> <% if(error_msg != ''){ %>

      <p style="color:red"> <%= error_msg %></p>
   
     
    
    <% } %> 
    
    <% if(error != ''){ %>

      <p style="color:red">  <%= error %></p>
   
     
    
    <% } %>
    